ArchivesDraftFolwView=Ext.extend(Ext.form.FormPanel,{
	items : null,
	constructor:function(config){
		Ext.applyIf(this,config);
		this.init();
		ArchivesDraftFolwView.superclass.constructor.call(this,{
			//height:300,
			width:'90%',
			layout:'form',
			title:'拟文套红',
			bodyStyle:'padding:10px',
			items:this.items
		});
		
		var jsArr=[__ctxPath+'/js/archive/ArchivesDocForm.js',
				           __ctxPath+'/js/archive/ArchivesDocHistoryWin.js',
				           __ctxPath+'/js/archive/ArchiveTypeTempView.js',
				           __ctxPath+'/js/archive/ArchTemplateView.js',
				           __ctxPath+'/js/archive/ArchTemplateSelector.js',
				           __ctxPath+'/js/selector/GlobalTypeSelector.js',
				           __ctxPath+'/js/core/ntkoffice/NtkOfficePanel.js',
				           __ctxPath+'/js/archive/ArchTemplateForm.js',
						   __ctxPath+'/js/archive/OfficeTemplateView.js'];
				$ImportSimpleJs(jsArr,null);
	},
	/**
	 * 插入附加文件记录
	 * 
	 * @param {}
	 *            store
	 * @param {}
	 *            archivesDoc
	 */
	insertNewDoc : function(store, archivesDoc) {
		var orec;
		// alert(archivesDoc.fileId);
		if (store.recordType) {
			orec = new store.recordType();
			orec.data = {};
			orec.data['docId'] = archivesDoc.docId;
			orec.data['fileId'] = archivesDoc.fileId;
			orec.data['docPath'] = archivesDoc.docPath;
			orec.data['docName'] = archivesDoc.docName;
			orec.data['curVersion'] = archivesDoc.curVersion
					? archivesDoc.curVersion
					: 1;
			orec.data.newRecord = true;
			orec.commit();
			store.add(orec);
		}
	},	/**
	 * 添加附件文档
	 */
	addArchiveDoc : function() {
		var store = this.store;
		var curView = this;
		new ArchTemplateSelector({
					// scope : this,
					callback : function(fileId) {
						
						// 返回文档附加记录
						var callback = function(archivesDoc) {
							// alert('coming in callback.' + archivesDoc);
							curView.insertNewDoc(store, archivesDoc);
						};
						new ArchivesDocForm({
									fileId : fileId,
									//docPath : tempPath,
									callback : callback
								}).show();
					}
				}).show();

	},

	/**
	 * 添加新的公文文档，以一个空白的文档开始
	 */
	addNewArchiveDoc : function() {
		var store = this.store;
		var curView = this;
		// 返回文档附加记录
		var callback = function(archivesDoc) {
			curView.insertNewDoc(store, archivesDoc);
		};
		new ArchivesDocForm({
					callback : callback
				}).show();
	},
	/**
	 * 上传附件
	 */
	uploadArchiveDoc : function() {
		var store = this.store;
		var curView = this;
		var callback = function(data) {
			for (var i = 0; i < data.length; i++) {
				var archivesDoc = {
					docId : 0,// 用于标记尚未持久化的记录
					fileId : data[i].fileId,
					docPath : data[i].filepath?data[i].filepath:data[i].filePath,
					docName : data[i].fileName,
					curVersion : 1
				};
				curView.insertNewDoc(store, archivesDoc);
			}
		};
		var dialog = App.createUploadDialog({
					file_cat : 'archive',
					callback : callback
				});
		dialog.show();
	},
	/**
	 * 删除公文正文附件
	 */
	deleteArchiveDoc : function() {
		var grid = Ext.getCmp("archiveDocGrid");

		var selectRecords = grid.getSelectionModel().getSelections();

		if (selectRecords.length == 0) {
			Ext.Msg.alert("信息", "请选择要查看的文档！");
			return;
		}

		var record = selectRecords[0];
		var store = grid.getStore();

		var docId = record.data.docId;

		Ext.Msg.confirm('信息确认', '您确认要删除所选记录吗？', function(btn) {
			if (btn == 'yes') {
				Ext.Ajax.request({
							url : __ctxPath + '/archive/multiDelArchivesDoc.do',
							params : {
								ids : docId
							},
							method : 'POST',
							success : function(response, options) {
								Ext.ux.Toast.msg('操作信息', '成功删除该文档附件！');
								// Ext.getCmp('ArchivesGrid').getStore().reload();
								store.remove(record);
								grid.getView().refresh();
							},
							failure : function(response, options) {
								Ext.ux.Toast.msg('操作信息', '操作出错，请联系管理员！');
							}
						});
			}
		});// end of comfirm
		
	},
	/**
	 * 查看公文正文附件
	 */
	detailArchivesDoc : function() {
		var grid = Ext.getCmp("archiveDocGrid");

		var selectRecords = grid.getSelectionModel().getSelections();

		if (selectRecords.length == 0) {
			Ext.Msg.alert("信息", "请选择要查看的文档！");
			return;
		}
		var record = selectRecords[0];
		var path = record.data.docPath;
		var docId = record.data.docId;
        var fileId=null;
        if(record.data.fileAttach){
         	fileId = record.data.fileAttach.fileId;
        }else{
        	fileId=record.data.fileId;
        }
		var store = grid.getStore();
		var curView = this;//Ext.getCmp('ArchivesDraftFolwView');
		// 返回文档附加记录
		var callback = function(archivesDoc) {
			store.remove(record);
			curView.insertNewDoc(store, archivesDoc);
		};
		new ArchivesDocForm({
			        fileId:fileId,
					docId : docId,
					docPath : path,
					callback : callback
				}).show();
	},
	init : function() {
		
		this.store = new Ext.data.JsonStore({
					url : __ctxPath+ '/archive/listArchivesDoc.do?archivesId='+ this.archivesId,
					root : 'result',
					totalProperty : 'totalCounts',
					remoteSort : true,
					fields : [{
								name : 'docId',
								type : 'int'
							}, 'fileAttach', 'creator', 'creatorId', 'menderId',
							'mender', 'docName', 'docStatus', 'curVersion',
							'docPath', 'updatetime', 'createtime']
				});
		this.store.setDefaultSort('docId', 'desc');
		this.toolbar = new Ext.Toolbar({
					height : 30,
					items : [{
								text : '按模板在线添加',
								iconCls : 'menu-archive-template',
								handler : this.addArchiveDoc,
								scope : this
							}, {
								text : '在线添加',
								iconCls : 'btn-edit-online',
								handler : this.addNewArchiveDoc,
								scope : this
							}, '-', {
								text : '上传文档',
								iconCls : 'btn-upload',
								handler : this.uploadArchiveDoc,
								scope : this
							}, '-', {
								text : '删除附件文档',
								iconCls : 'btn-del',
								scope : this,
								handler : this.deleteArchiveDoc
							}, '-', {
								text : '查看文档',
								iconCls : 'menu-archive-issue-manage',
								scope : this,
								handler : this.detailArchivesDoc
							}]
				});

		var sm = new Ext.grid.CheckboxSelectionModel({
					singleSelect : true
				});
		// 初始化附件文档
		this.docGridPanel = new Ext.grid.EditorGridPanel({
					title : '公文正文附件',
					iconCls : 'menu-attachment',
					columnWidth : .96,
					border : true,
					id : 'archiveDocGrid',
					autoHeight : true,
					store : this.store,
					tbar : this.toolbar,
					sm : sm,
					columns : [new Ext.grid.RowNumberer(), sm, {
								dataIndex : 'docId',
								hidden : true
							}, {
								dataIndex : 'fileAttach',
								hidden : true,
								renderer : function(value){
								//	return value.fileId;
								}
							}, {
								dataIndex : 'docStatus',
								hidden : true
							},{
								dataIndex : 'menderId',
								hidden : true,
								renderer : function(value){
									//return '2';
								}
							},{
								dataIndex : 'creatorId',
								hidden :true
							},{
								dataIndex : 'docName',
								width : 400,
								header : '文档名称'
							}, {
								dataIndex : 'docPath',
								header : '文档路径'// ,
								// hidden:true
						}	, {
								dataIndex : 'curVersion',
								header : '当前版本'
							}, {
								header : '管理'
							}]
				});
		
		// 初始化表单
		this.items = [{
						xtype : 'compositefield',
						fieldLabel : '所属类型',
						items : [{
									name : 'archives.typeName',
									xtype : 'textfield',
									width : 250,
									readOnly : true,
									allowBlank : false
								}, {
									xtype : 'button',
									text : '选择类型',
									iconCls : 'btn-select',
									scope : this,
									handler : function() {
										var fPanel = this;
										new GlobalTypeSelector({
													catKey : 'ARCHIVES_TYPE',
													isSingle : true,
													callback : function(typeId,typeName) {
														fPanel.getCmpByName('archives.typeId').setValue(typeId);
														fPanel.getCmpByName('archives.typeName').setValue(typeName);
													}
												}).show();
									}

								}]
						}, {
						xtype : 'fieldset',
						title : '发文设置',
						border : true,
						defaults : {
							anchor : '98%,98%'
						},
						items : [{
									layout : 'form',
									// columnWidth : .4,
									border : false,
									items : {
										fieldLabel : '发文字号',
										name : 'archives.archivesNo',
										id : 'archivesFlow.archivesNo',
										xtype : 'textfield',
										allowBlank : false,
										anchor : '100%'
									}
								}, {
									layout : 'form',
									border : false,
									style : 'padding:0px 0px 7px 0px;',
									defaults : {
										anchor : '96%,96%'
									},
									items : [{
										layout : 'column',
										border : false,
										items : [{
											layout : 'form',
											anchor : '99%',
											style : 'padding:0px 0px 0px 0px;',
											border : false,
											items : {
												fieldLabel : '密级',
												width : 120,
												name : 'archives.privacyLevel',
												id : 'archivesFlow.privacyLevel',
												triggerAction : 'all',
												lazyRender : true,
												allowBlank : false,
												emptyText : '选择密级',
												xtype : 'combo',
												store : ['普通', '秘密', '机密', '绝密']
											}
										}, {
											layout : 'form',
											border : false,
											items : {
												fieldLabel : '紧急程度',
												width : 120,
												name : 'archives.urgentLevel',
												id : 'archivesFlow.urgentLevel',
												triggerAction : 'all',
												lazyRender : true,
												allowBlank : false,
												emptyText : '选择紧急程度',
												xtype : 'combo',
												store : ['普通', '紧急', '特急', '特提']
											}
										}]
									}]
								}, {
									fieldLabel : '文件标题',
									name : 'archives.subject',
									id : 'archivesFlow.subject',
									xtype : 'textfield',
									allowBlank : false
								}, {
									xtype : 'container',
									layout : 'column',
									style : 'padding-left:0px;margin-left:0px;',
									height : 30,
									defaults : {
										border : false
									},
									items : [{
												xtype : 'label',
												text : '发文机关或部门',
												style : 'padding:0px 0px 0px 0px;',
												width : 105
											}, {
												// columnWidth:.4,
												name : 'archives.issueDep',
												id : 'archivesFlow.issueDep',
												xtype : 'textfield',
												width : '70%',
												value:curUserInfo.depName,
												allowBlank : false,
												readOnly : true
											}, {
												name : 'archives.depId',
												id : 'archivesFlow.depId',
												value:curUserInfo.depId,
												xtype : 'hidden'
											}, {
												xtype : 'button',
												iconCls : 'menu-department',
												text : '选择部门',
												handler : function() {
													DepSelector.getView(
															function(depId,
																	depName) {
																Ext
																		.getCmp('archivesFlow.issueDep')
																		.setValue(depName);
																Ext
																		.getCmp('archivesFlow.depId')
																		.setValue(depId);
															}, true).show();
												}
											}]
								}, {
									xtype : 'container',
									layout : 'column',
									style : 'padding:0px 0px 8px 0px;margin-left:0px;',
									defaults : {
										border : false
									},
									items : [{
												xtype : 'label',
												style : 'padding:0px 0px 0px 0px;',
												text : '接收单位或部门',
												width : 105
											}, {
												// columnWidth:.6,
												xtype : 'textarea',
												name : 'archives.recDepNames',
												width : '70%',
												readOnly : true,
												id : 'archivesFlow.recDepNames'
											}, {
												xtype : 'hidden',
												name : 'archives.recDepIds',
												id : 'archivesFlow.recDepIds'
											}, {
												xtype : 'button',
												iconCls : 'menu-department',
												text : '选择部门',
												handler : function() {
													DepSelector.getView(
															function(depIds,
																	depNames) {
																Ext
																		.getCmp('archivesFlow.recDepIds')
																		.setValue(depIds);
																Ext
																		.getCmp('archivesFlow.recDepNames')
																		.setValue(depNames);
															}, false).show();
												}
											}]
								}, {
									fieldLabel : '主题词',
									name : 'archives.keywords',
									id : 'archivesFlow.keywords',
									xtype : 'textfield'
								}, {
									fieldLabel : '内容简介',
									name : 'archives.shortContent',
									id : 'archivesFlow.shortContent',
									xtype : 'textarea'
								}, {
									fieldLabel : '公文来源',
									name : 'archives.sources',
									id : 'archivesFlow.sources',
									xtype : 'textfield'
								},{
									fieldLabel : '拟办意见',
									name : 'archives.handleOpinion',
									id : 'archivesFlow.handleOpinion',
									xtype : 'textarea'
								}, {
									name : 'archives.fileCounts',
									id : 'archivesFlow.fileCounts',
									xtype : 'hidden',
									value : '0'
								}, {
									name : 'archives.typeId',
									xtype : 'hidden'
								}, {
									name : 'preHandler',
									xtype : 'hidden',
									value : 'archivesService.startArchFlow'
								}, {
									name : 'afterHandler',
									xtype : 'hidden',
									value : 'archivesService.setRunId'
								}, {
									name : 'docs',
									xtype : 'hidden'
								}]
						// end of the field set items
					},// end of fieldset
					this.docGridPanel
			
		];
	
	},
	validate : function(outPanel){
		if (this.store.getCount() == 0) {// 公文正文附件为空
			Ext.ux.Toast.msg('操作信息', '请添加公文正文附件!');
			return flase;
		} else {
			// 发文的文档附件
			var docParams = [];

			for (var i = 0, cnt = this.store.getCount(); i < cnt; i++) {
				docParams.push(this.store.getAt(i).data);
			}
			this.getCmpByName('docs').setValue(Ext.encode(docParams));
			return true;
		}
	}
})
